ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

li {
  margin-bottom: 8px;
}

input {
  display: none;
}

label {
  position: relative;
  padding-left: 30px;
  font-size: 1.4em;
  cursor: pointer;
}

/* box */
label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid red;
  border-radius: 3px;
}

/* checkmark */
label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: -7px;
  width: 11px;
  height: 26px;
  box-shadow: inset 3px 3px lightgreen;
  transform: rotate(-143deg) rotateY(25deg) scale(0);
  transition: transform .15s;
}

input:checked + label::after {
  transform: rotate(-143deg) rotateY(25deg) scale(1);
}

label:hover::after {
  box-shadow: inset 3px 3px grey !important;
}
