body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

li {
  cursor: pointer;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 0 10px;
  min-height: 100vh;
}

.sidebar h1 {
  color: red;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.categories-list {
  list-style: none;
  padding: 0;
}

.dropdown-list > li {
  padding: 3px 20px;
}

.dropdown-list {
  list-style: none;
  padding: 0;
}

.dropdown-list-item {
  position: relative;
  padding: 3px;
}

.sidebar li:hover {
  background: red;
  color: white;
}

.dropdown-list li:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 12px);
  color: black;
  border: 3px solid red;
  box-sizing: border-box;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent red transparent transparent;
}

.products-list {
  padding: 0;
  list-style: none;
}

.products-list-item {
  padding: 3px 20px;
}

.dropdown-bottom {
  top: 0;
  transform: translateY(0);
}

.dropdown-bottom::before {
  top: 13px;
}

.dropdown-top {
  top: 100%;
  transform: translateY(-100%);
}

.dropdown-top::before {
  top: calc(100% - 13px);
}
