.rating {
  float: left;
}

.rating input {
  display: none;
}

.rating > label {
  float: right; /* this is a hack to reverse stars for using css tilda selector in another order */
  font-size: 2em;
}

.rating > label::before {
  content: "☆";
  display: inline-block;
}

/* set color for checked star and all stars before */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFDA05;
}

/* set colors on hover */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFE96B;
}

.rating > input:checked ~ label::before {
  content: "★";
}

#task-1 {
  margin: 0 10px;
}

#task-1::after {
  content: "";
  display: table;
  clear: both;
}

.star {
  display: none; /* hide stars. we use pseudoelements to show content */
}

h2 {
  margin: 0;
}
