.parent-block {
  /* margin: 10px; */
  width: 100%;
  min-height: 600px;
  border: 1px solid rgba(122, 122, 122, 0.3);
  background: rgba(222, 122, 122, 0.3);

  /* Centering magic */
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent-block img {
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border: 2px solid rgba(122, 122, 122, 0.3);
  transition: 0.4s;
}
.parent-block img:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
}
