body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  /* height: 2000px; */
}

header {
  padding: 10px;
  background: red;
  display: flex;
  flex-direction: row-reverse;
}

#cart {
  position: relative;
}

#cart-total {
  font-size: .7em;
  vertical-align: super;
}

#cartmodal.checkoutcart1 {
  position: absolute;
  right: 16px;
  top: 30px;
  display: none;
  background: white;
  border: 3px solid black;
  padding: 10px;
  padding-bottom: 15px;
}

#cartmodal.checkoutcart1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: -2px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

#cart > button:hover + #cartmodal {
  display: block;
}

#cartmodal:hover {
  display: block;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-inverse {
  color: white;
}

.btn-block {
  font-size: 1.2em;
}

.text-left, .text-right {
  white-space: nowrap;
}

.text-left > * {
  display: inline-block;
}

.counter {
  position: relative;
  padding-right: 32px;
  padding-left: 16px;
  height: 20px;
  color: red;
}

.counter .count {
  box-sizing: border-box;
  border: 1px solid red;
  padding: 2px 6px;
}

.counter button {
  position: absolute;
  height: 10px;
  width: 18px;
  cursor: pointer;
}

.counter .button_increase {
  top: 0;
}

.counter .button_decrease {
  bottom: 0;
}

.counter .count-btn {
  width: 20px;
  height: 5px;
  line-height: 0;
  font-size: 0;
  position: relative;
}

.counter .count-btn::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
}

.counter .count-btn.increase::before {
  border-color: transparent transparent red transparent;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  top: 0;
}


.counter .count-btn.decrease::before {
  border-color: red transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  bottom: 0;
}

#formcart td.counter ~ td {
  color: red;
}

#formcart .button_remove {
  color: red;
  font-size: .8em;
}

#formcart a {
  text-decoration: none;
  color: inherit;
  font-size: .9em;
}

#formcart a:hover {
  text-decoration: underline;
}

.bottom_row_cart {
  color: red;
  padding: 0 8px;
  margin-top: 20px;
  font-size: 1.1em;
}

.btn-primary-cart {
  border: 1px solid red;
  padding: 5px 18px;
}

.pull-right {
  float: right;
}

#cartmodal.checkoutcart3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid red;
  padding: 8px 24px;
}

#cartmodal.checkoutcart3 .end-text {
  white-space: nowrap;
  padding: 22px 60px;
}

.a-close {
  color: red;
  cursor: pointer;
}
